if SHIELD_CHARYBDIS1_LEFT

    config ZMK_KEYBOARD_NAME
        default "Charybdis1"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

endif

if SHIELD_CHARYBDIS1_LEFT || SHIELD_CHARYBDIS1_RIGHT

    config ZMK_SPLIT
        default y

endif
