//MODMORPH(lc1t, , )
//MODMORPH(lc1b, , )
MODMORPH(lc2t, MINUS, PLUS)
MODMORPH(lc2b, LBKT, RBKT)
MODMORPH(lc3t, LT, GT)
MODMORPH(lc3b, LBRC, RBRC)
MODMORPH(lc4t, COLON, SEMI)
MODMORPH(lc4b, LPAR, RPAR)
MODMORPH(lc5t, FSLH, BSLH)
MODMORPH(lc5b, UNDER, PIPE)
MODMORPH(rc1t, N0, EQUAL)
MODMORPH(rc1b, N5, PRCNT)
MODMORPH(rc2t, N1, EXCL)
MODMORPH(rc2b, N6, CARET)
MODMORPH(rc3t, N2, AT)
MODMORPH(rc3b, N7, AMPS)
MODMORPH(rc4t, N3, HASH)
MODMORPH(rc4b, N8, STAR)
MODMORPH(rc5t, N4, DLLR)
//MODMORPH(rc5b, N9, )
MODMORPH(rb3b, COMMA, QMARK)
MODMORPH(rb5b, GRAVE, TILDE)

/ {
     combos {

          compatible = "zmk,combos";
          
          // Left Columns 1
          COMBO(esc, 50, 0 10, &kp ESC)
          COMBO(tab, 50, 10 20, &kp TAB)
          
          // Left Columns 2
          COMBO(minus_plus, 50, 1 11, &lc2t)
          COMBO(brackets, 50, 11 21, &lc2b)
          
          // Left Columns 3
          COMBO(gt_ls, 50, 2 12, &lc3t)
          COMBO(braces, 50, 12 22, &lc3b)
          
          // Left Columns 4
          COMBO(colon_semi, 50, 3 13, &lc4t)
          COMBO(parens, 50, 13 23, &lc4b)
          
          // Left Columns 5
          COMBO(slashes, 50, 4 14, &lc5t)
          COMBO(under_pipe, 50, 14 24, &lc5b)
          
          // Thumbs
          // TODO: Make this MEH on hold
          //COMBO(caps_word, 50, 73 78, &caps_word)
          //COMBO(lang_hyper_tog, 50, 74 77, &tog_kp HYPER GRK)
          //COMBO_WITH_LAYER(nav_tog, 50, 73 74, &tog_mo NAV NAV, DEF GRK SYM NAV FUN NUM MOU MAC)
          //COMBO(ctrl_bksp, 50, 77 78, &lt FUN LC(BSPC))
          //COMBO(mou_tog, 50, 73 74 77 78, &tog MOU)
          //COMBO_WITH_LAYER(sk_COMMA, 50, 53 33, &kp COMMA, SKP)
          //COMBO_WITH_LAYER(sk_APOS, 50, 53 16, &kp APOS, SKP)
          //COMBO_WITH_LAYER(sk_DQT, 50, 53 18, &kp DQT, SKP)
          //COMBO_WITH_LAYER(sk_FSLH, 50, 53 50, &kp FSLH, SKP)
          //COMBO_WITH_LAYER(sk_DOT, 50, 53 51, &kp DOT, SKP)
          //COMBO_WITH_LAYER(sk_MINUS, 50, 53 52, &kp MINUS, SKP)
          //COMBO_WITH_LAYER(sk_X, 50, 53 19, &kp X, SKP)
          //COMBO_WITH_LAYER(sk_UP, 50, 53 17, &kp UP, SKP)
          //COMBO_WITH_LAYER(sk_DOWN, 50, 53 31, &kp DOWN, SKP)
          //COMBO_WITH_LAYER(sk_LEFT, 50, 53 30, &kp LEFT, SKP)
          //COMBO_WITH_LAYER(sk_RIGHT, 50, 53 32, &kp RIGHT, SKP)
          
          // Right Columns 1
          COMBO(zero_equals, 50, 5 15, &rc1t)
          COMBO(five_percent, 50, 15 25, &rc1b)
          
          // Right Columns 2
          COMBO(one_excl, 50, 6 16, &rc2t)
          COMBO(six_caret, 50, 16 26, &rc2b)
          
          // Right Columns 3
          COMBO(two_at, 50, 7 17, &rc3t)
          COMBO(seven_amp, 50, 17 27, &rc3b)
          
          // Right Columns 4
          COMBO(three_hash, 50, 8 18, &rc4t)
          COMBO(eight_star, 50, 18 28, &rc4b)
          
          // Right Columns 5
          COMBO(four_dllr, 50, 9 19, &rc5t)
          COMBO(nine, 50, 19 29, &kp N9)
          
          
          // Greek Combos
          //COMBO_WITH_LAYER(el_as, 5000, 29 40, &el_as, GRK)
          //COMBO_WITH_LAYER(el_asa, 5000, 29 40 35, &el_asa, GRK)
          //COMBO_WITH_LAYER(el_asai, 5000, 29 40 35 45, &el_asai, GRK)
          //COMBO_WITH_LAYER(el_asg, 5000, 29 40 36, &el_asg, GRK)
          //COMBO_WITH_LAYER(el_asgi, 5000, 29 40 36 45, &el_asgi, GRK)
          //COMBO_WITH_LAYER(el_asc, 5000, 29 40 59, &el_asc, GRK)
          //COMBO_WITH_LAYER(el_asci, 5000, 29 40 59 45, &el_asci, GRK)
          //COMBO_WITH_LAYER(el_asi, 5000, 29 40 45, &el_asi, GRK)
          //COMBO_WITH_LAYER(el_ar, 5000, 29 39, &el_ar, GRK)
          //COMBO_WITH_LAYER(el_ara, 5000, 29 39 35, &el_ara, GRK)
          //COMBO_WITH_LAYER(el_arai, 5000, 29 39 35 45, &el_arai, GRK)
          //COMBO_WITH_LAYER(el_arg, 5000, 29 39 36, &el_arg, GRK)
          //COMBO_WITH_LAYER(el_argi, 5000, 29 39 36 45, &el_argi, GRK)
          //COMBO_WITH_LAYER(el_arc, 5000, 29 39 59, &el_arc, GRK)
          //COMBO_WITH_LAYER(el_arci, 5000, 29 39 59 45, &el_arci, GRK)
          //COMBO_WITH_LAYER(el_ari, 5000, 29 39 45, &el_ari, GRK)
          //COMBO_WITH_LAYER(el_aa, 5000, 29 35, &el_aa, GRK)
          //COMBO_WITH_LAYER(el_aai, 5000, 29 35 45, &el_aai, GRK)
          //COMBO_WITH_LAYER(el_ag, 5000, 29 36, &el_ag, GRK)
          //COMBO_WITH_LAYER(el_agi, 5000, 29 36 45, &el_agi, GRK)
          //COMBO_WITH_LAYER(el_ab, 5000, 29 75, &el_ab, GRK)
          //COMBO_WITH_LAYER(el_ac, 5000, 29 59, &el_ac, GRK)
          //COMBO_WITH_LAYER(el_aci, 5000, 29 59 45, &el_aci, GRK)
          //COMBO_WITH_LAYER(el_al, 5000, 29 56, &el_al, GRK)
          //COMBO_WITH_LAYER(el_ai, 5000, 29 45, &el_ai, GRK)
          //COMBO_WITH_LAYER(el_es, 5000, 44 40, &el_es, GRK)
          //COMBO_WITH_LAYER(el_esa, 5000, 44 40 35, &el_esa, GRK)
          //COMBO_WITH_LAYER(el_esg, 5000, 44 40 36, &el_esg, GRK)
          //COMBO_WITH_LAYER(el_er, 5000, 44 39, &el_er, GRK)
          //COMBO_WITH_LAYER(el_era, 5000, 44 39 35, &el_era, GRK)
          //COMBO_WITH_LAYER(el_erg, 5000, 44 39 36, &el_erg, GRK)
          //COMBO_WITH_LAYER(el_ea, 5000, 44 35, &el_ea, GRK)
          //COMBO_WITH_LAYER(el_eg, 5000, 44 36, &el_eg, GRK)
          //COMBO_WITH_LAYER(el_hs, 5000, 63 40, &el_hs, GRK)
          //COMBO_WITH_LAYER(el_hsa, 5000, 63 40 35, &el_hsa, GRK)
          //COMBO_WITH_LAYER(el_hsai, 5000, 63 40 35 45, &el_hsai, GRK)
          //COMBO_WITH_LAYER(el_hsg, 5000, 63 40 36, &el_hsg, GRK)
          //COMBO_WITH_LAYER(el_hsgi, 5000, 63 40 36 45, &el_hsgi, GRK)
          //COMBO_WITH_LAYER(el_hsc, 5000, 63 40 59, &el_hsc, GRK)
          //COMBO_WITH_LAYER(el_hsci, 5000, 63 40 59 45, &el_hsci, GRK)
          //COMBO_WITH_LAYER(el_hsi, 5000, 63 40 45, &el_hsi, GRK)
          //COMBO_WITH_LAYER(el_hr, 5000, 63 39, &el_hr, GRK)
          //COMBO_WITH_LAYER(el_hra, 5000, 63 39 35, &el_hra, GRK)
          //COMBO_WITH_LAYER(el_hrai, 5000, 63 39 35 45, &el_hrai, GRK)
          //COMBO_WITH_LAYER(el_hrg, 5000, 63 39 36, &el_hrg, GRK)
          //COMBO_WITH_LAYER(el_hrgi, 5000, 63 39 36 45, &el_hrgi, GRK)
          //COMBO_WITH_LAYER(el_hrc, 5000, 63 39 59, &el_hrc, GRK)
          //COMBO_WITH_LAYER(el_hrci, 5000, 63 39 59 45, &el_hrci, GRK)
          //COMBO_WITH_LAYER(el_hri, 5000, 63 39 45, &el_hri, GRK)
          //COMBO_WITH_LAYER(el_ha, 5000, 63 35, &el_ha, GRK)
          //COMBO_WITH_LAYER(el_hai, 5000, 63 35 45, &el_hai, GRK)
          //COMBO_WITH_LAYER(el_hg, 5000, 63 36, &el_hg, GRK)
          //COMBO_WITH_LAYER(el_hgi, 5000, 63 36 45, &el_hgi, GRK)
          //COMBO_WITH_LAYER(el_hc, 5000, 63 59, &el_hc, GRK)
          //COMBO_WITH_LAYER(el_hci, 5000, 63 59 45, &el_hci, GRK)
          //COMBO_WITH_LAYER(el_hi, 5000, 63 45, &el_hi, GRK)
          //COMBO_WITH_LAYER(el_is, 5000, 45 40, &el_is, GRK)
          //COMBO_WITH_LAYER(el_isa, 5000, 45 40 35, &el_isa, GRK)
          //COMBO_WITH_LAYER(el_isg, 5000, 45 40 36, &el_isg, GRK)
          //COMBO_WITH_LAYER(el_isc, 5000, 45 40 59, &el_isc, GRK)
          //COMBO_WITH_LAYER(el_ir, 5000, 45 39, &el_ir, GRK)
          //COMBO_WITH_LAYER(el_ira, 5000, 45 39 35, &el_ira, GRK)
          //COMBO_WITH_LAYER(el_irg, 5000, 45 39 36, &el_irg, GRK)
          //COMBO_WITH_LAYER(el_irc, 5000, 45 39 59, &el_irc, GRK)
          //COMBO_WITH_LAYER(el_ia, 5000, 45 35, &el_ia, GRK)
          //COMBO_WITH_LAYER(el_ig, 5000, 45 36, &el_ig, GRK)
          //COMBO_WITH_LAYER(el_ib, 5000, 45 75, &el_ib, GRK)
          //COMBO_WITH_LAYER(el_ic, 5000, 45 59, &el_ic, GRK)
          //COMBO_WITH_LAYER(el_id, 5000, 45 76, &el_id, GRK)
          //COMBO_WITH_LAYER(el_idg, 5000, 45 76 36, &el_idg, GRK)
          //COMBO_WITH_LAYER(el_ida, 5000, 45 76 35, &el_ida, GRK)
          //COMBO_WITH_LAYER(el_idc, 5000, 45 76 59, &el_idc, GRK)
          //COMBO_WITH_LAYER(el_il, 5000, 45 56, &el_il, GRK)
          //COMBO_WITH_LAYER(el_os, 5000, 46 40, &el_os, GRK)
          //COMBO_WITH_LAYER(el_osa, 5000, 46 40 35, &el_osa, GRK)
          //COMBO_WITH_LAYER(el_osg, 5000, 46 40 36, &el_osg, GRK)
          //COMBO_WITH_LAYER(el_or, 5000, 46 39, &el_or, GRK)
          //COMBO_WITH_LAYER(el_ora, 5000, 46 39 35, &el_ora, GRK)
          //COMBO_WITH_LAYER(el_org, 5000, 46 39 36, &el_org, GRK)
          //COMBO_WITH_LAYER(el_oa, 5000, 46 35, &el_oa, GRK)
          //COMBO_WITH_LAYER(el_og, 5000, 46 36, &el_og, GRK)
          //COMBO_WITH_LAYER(el_us, 5000, 24 40, &el_us, GRK)
          //COMBO_WITH_LAYER(el_usa, 5000, 24 40 35, &el_usa, GRK)
          //COMBO_WITH_LAYER(el_usg, 5000, 24 40 36, &el_usg, GRK)
          //COMBO_WITH_LAYER(el_usc, 5000, 24 40 59, &el_usc, GRK)
          //COMBO_WITH_LAYER(el_ur, 5000, 24 39, &el_ur, GRK)
          //COMBO_WITH_LAYER(el_ura, 5000, 24 39 35, &el_ura, GRK)
          //COMBO_WITH_LAYER(el_urg, 5000, 24 39 36, &el_urg, GRK)
          //COMBO_WITH_LAYER(el_urc, 5000, 24 39 59, &el_urc, GRK)
          //COMBO_WITH_LAYER(el_ua, 5000, 24 35, &el_ua, GRK)
          //COMBO_WITH_LAYER(el_ug, 5000, 24 36, &el_ug, GRK)
          //COMBO_WITH_LAYER(el_ub, 5000, 24 75, &el_ub, GRK)
          //COMBO_WITH_LAYER(el_uc, 5000, 24 59, &el_uc, GRK)
          //COMBO_WITH_LAYER(el_ud, 5000, 24 76, &el_ud, GRK)
          //COMBO_WITH_LAYER(el_udg, 5000, 24 76 36, &el_udg, GRK)
          //COMBO_WITH_LAYER(el_uda, 5000, 24 76 35, &el_uda, GRK)
          //COMBO_WITH_LAYER(el_udc, 5000, 24 76 59, &el_udc, GRK)
          //COMBO_WITH_LAYER(el_ul, 5000, 24 56, &el_ul, GRK)
          //COMBO_WITH_LAYER(el_ws, 5000, 53 40, &el_ws, GRK)
          //COMBO_WITH_LAYER(el_wsa, 5000, 53 40 35, &el_wsa, GRK)
          //COMBO_WITH_LAYER(el_wsai, 5000, 53 40 35 45, &el_wsai, GRK)
          //COMBO_WITH_LAYER(el_wsg, 5000, 53 40 36, &el_wsg, GRK)
          //COMBO_WITH_LAYER(el_wsgi, 5000, 53 40 36 45, &el_wsgi, GRK)
          //COMBO_WITH_LAYER(el_wsc, 5000, 53 40 59, &el_wsc, GRK)
          //COMBO_WITH_LAYER(el_wsci, 5000, 53 40 59 45, &el_wsci, GRK)
          //COMBO_WITH_LAYER(el_wsi, 5000, 53 40 45, &el_wsi, GRK)
          //COMBO_WITH_LAYER(el_wr, 5000, 53 39, &el_wr, GRK)
          //COMBO_WITH_LAYER(el_wra, 5000, 53 39 35, &el_wra, GRK)
          //COMBO_WITH_LAYER(el_wrai, 5000, 53 39 35 45, &el_wrai, GRK)
          //COMBO_WITH_LAYER(el_wrg, 5000, 53 39 36, &el_wrg, GRK)
          //COMBO_WITH_LAYER(el_wrgi, 5000, 53 39 36 45, &el_wrgi, GRK)
          //COMBO_WITH_LAYER(el_wrc, 5000, 53 39 59, &el_wrc, GRK)
          //COMBO_WITH_LAYER(el_wrci, 5000, 53 39 59 45, &el_wrci, GRK)
          //COMBO_WITH_LAYER(el_wri, 5000, 53 39 45, &el_wri, GRK)
          //COMBO_WITH_LAYER(el_wa, 5000, 53 35, &el_wa, GRK)
          //COMBO_WITH_LAYER(el_wai, 5000, 53 35 45, &el_wai, GRK)
          //COMBO_WITH_LAYER(el_wg, 5000, 53 36, &el_wg, GRK)
          //COMBO_WITH_LAYER(el_wgi, 5000, 53 36 45, &el_wgi, GRK)
          //COMBO_WITH_LAYER(el_wc, 5000, 53 59, &el_wc, GRK)
          //COMBO_WITH_LAYER(el_wci, 5000, 53 59 45, &el_wci, GRK)
          //COMBO_WITH_LAYER(el_wci, 5000, 53 59 45, &el_wci, GRK)
     };
};