/* Greek letters */
ZMK_UNICODE_PAIR(el_a,    N0, N3,  B, N1,    N0, N3, N9, N1)
ZMK_UNICODE_PAIR(el_as,   N1, F , N0, N0,    N1, F , N0, N8) // smooth 
ZMK_UNICODE_PAIR(el_asa,  N1, F , N0, N4,    N1, F , N0, C ) // smooth acute 
ZMK_UNICODE_PAIR(el_asai, N1, F , N8, N4,    N1, F , N8, C ) // smooth acute iota 
ZMK_UNICODE_PAIR(el_asg,  N1, F , N0, N2,    N1, F , N0, A ) // smooth grave 
ZMK_UNICODE_PAIR(el_asgi, N1, F , N8, N2,    N1, F , N8, A ) // smooth grave iota 
ZMK_UNICODE_PAIR(el_asc,  N1, F , N0, N6,    N1, F , N0, E ) // smooth circumflex 
ZMK_UNICODE_PAIR(el_asci, N1, F , N8, N6,    N1, F , N8, E ) // smooth circumflex iota 
ZMK_UNICODE_PAIR(el_asi,  N1, F , N8, N0,    N1, F , N8, N8) // smooth iota 
ZMK_UNICODE_PAIR(el_ar,   N1, F , N0, N1,    N1, F , N0, N9) // rough 
ZMK_UNICODE_PAIR(el_ara,  N1, F , N0, N5,    N1, F , N0, D ) // rough acute 
ZMK_UNICODE_PAIR(el_arai, N1, F , N8, N5,    N1, F , N8, D ) // rough acute iota 
ZMK_UNICODE_PAIR(el_arg,  N1, F , N0, N3,    N1, F , N0, B ) // rough grave 
ZMK_UNICODE_PAIR(el_argi, N1, F , N8, N3,    N1, F , N8, B ) // rough grave iota 
ZMK_UNICODE_PAIR(el_arc,  N1, F , N0, N7,    N1, F , N0, F ) // rough  cirumflex 
ZMK_UNICODE_PAIR(el_arci, N1, F , N8, N7,    N1, F , N8, F ) // rough  cirumflex iota 
ZMK_UNICODE_PAIR(el_ari,  N1, F , N8, N1,    N1, F , N8, N9) // rough iota 
ZMK_UNICODE_PAIR(el_aa,   N0, N3, A , C ,    N0, N3, N8, N6) // acute 
ZMK_UNICODE_PAIR(el_aai,  N1, F , B , N4,    N1, F , B , N4) // acute iota 
ZMK_UNICODE_PAIR(el_ag,   N1, F , N7, N0,    N1, F , B , A ) // grave 
ZMK_UNICODE_PAIR(el_agi,  N1, F , B , N2,    N1, F , B , N2) // grave iota 
ZMK_UNICODE_PAIR(el_ab,   N1, F , B , N0,    N1, F , B , N8) // breve 
ZMK_UNICODE_PAIR(el_ac,   N1, F , B , N6,    N1, F , B , N6) // circumflex 
ZMK_UNICODE_PAIR(el_aci,  N1, F , B , N7,    N1, F , B , N7) // circumflex iota 
ZMK_UNICODE_PAIR(el_al,   N1, F , B , N1,    N1, F , B , N9) // long 
ZMK_UNICODE_PAIR(el_ai,   N1, F , B , N3,    N1, F , B , C ) // iota 
ZMK_UNICODE_PAIR(el_b,    N0, N3,  B, N2,    N0, N3, N9, N2)
ZMK_UNICODE_PAIR(el_g,    N0, N3,  B, N3,    N0, N3, N9, N3)
ZMK_UNICODE_PAIR(el_d,    N0, N3,  B, N4,    N0, N3, N9, N4)
ZMK_UNICODE_PAIR(el_e,    N0, N3,  F, N5,    N0, N3, N9, N5)  // varepsilon = 03B5
ZMK_UNICODE_PAIR(el_es,    N1, F , N1, N0,    N1, F , N1, N8) // smooth 
ZMK_UNICODE_PAIR(el_esa,  N1, F , N1, N4,    N1, F , N1, C ) // smooth acute 
ZMK_UNICODE_PAIR(el_esg,  N1, F , N1, N2,    N1, F , N1, A ) // smooth grave 
ZMK_UNICODE_PAIR(el_er,   N1, F , N1, N1,    N1, F , N1, N9) // rough 
ZMK_UNICODE_PAIR(el_era,  N1, F , N1, N5,    N1, F , N1, D ) // rough acute 
ZMK_UNICODE_PAIR(el_erg,  N1, F , N1, N3,    N1, F , N1, B ) // rough grave 
ZMK_UNICODE_PAIR(el_ea,   N1, F , N7, N3,    N1, F , C , N9) // acute 
ZMK_UNICODE_PAIR(el_eg,   N1, F , N7, N2,    N1, F , C , N8) // grave 
ZMK_UNICODE_PAIR(el_z,    N0, N3,  B, N6,    N0, N3, N9, N6)
ZMK_UNICODE_PAIR(el_h,    N0, N3,  B, N7,    N0, N3, N9, N7)
ZMK_UNICODE_PAIR(el_hs,   N1, F , N2, N0,    N1, F , N2, N8) // smooth 
ZMK_UNICODE_PAIR(el_hsa,  N1, F , N2, N4,    N1, F , N2, C ) // smooth acute 
ZMK_UNICODE_PAIR(el_hsai, N1, F , N9, N4,    N1, F , N9, C ) // smooth acute iota 
ZMK_UNICODE_PAIR(el_hsg,  N1, F , N2, N2,    N1, F , N2, A ) // smooth grave 
ZMK_UNICODE_PAIR(el_hsgi, N1, F , N9, N2,    N1, F , N9, A ) // smooth grave iota 
ZMK_UNICODE_PAIR(el_hsc,  N1, F , N2, N6,    N1, F , N2, E ) // smooth circumflex 
ZMK_UNICODE_PAIR(el_hsci, N1, F , N9, N6,    N1, F , N9, E ) // smooth circumflex iota 
ZMK_UNICODE_PAIR(el_hsi,  N1, F , N9, N0,    N1, F , N9, N8) // smooth iota 
ZMK_UNICODE_PAIR(el_hr,   N1, F , N2, N1,    N1, F , N2, N9) // rough 
ZMK_UNICODE_PAIR(el_hra,  N1, F , N2, N5,    N1, F , N2, D ) // rough acute 
ZMK_UNICODE_PAIR(el_hrai, N1, F , N9, N5,    N1, F , N9, D ) // rough acute iota 
ZMK_UNICODE_PAIR(el_hrg,  N1, F , N2, N3,    N1, F , N2, B ) // rough grave 
ZMK_UNICODE_PAIR(el_hrgi, N1, F , N9, N3,    N1, F , N9, B ) // rough grave iota 
ZMK_UNICODE_PAIR(el_hrc,  N1, F , N2, N7,    N1, F , N2, F ) // rough  cirumflex 
ZMK_UNICODE_PAIR(el_hrci, N1, F , N9, N7,    N1, F , N9, F ) // rough  cirumflex iota 
ZMK_UNICODE_PAIR(el_hri,  N1, F , N9, N1,    N1, F , N9, N9) // rough iota 
ZMK_UNICODE_PAIR(el_ha,   N1, F , N7, N5,    N1, F , C , B ) // acute 
ZMK_UNICODE_PAIR(el_hai,  N1, F , C , N4,    N1, F , C , N4) // acute iota 
ZMK_UNICODE_PAIR(el_hg,   N1, F , N7, N4,    N1, F , C , A ) // grave 
ZMK_UNICODE_PAIR(el_hgi,  N1, F , C , N2,    N1, F , C , N2) // grave iota 
ZMK_UNICODE_PAIR(el_hc,   N1, F , C , N6,    N1, F , C , N6) // circumflex 
ZMK_UNICODE_PAIR(el_hci,  N1, F , C , N7,    N1, F , C , N7) // circumflex iota 
ZMK_UNICODE_PAIR(el_hi,   N1, F , C , N3,    N1, F , C , C ) // iota 
ZMK_UNICODE_PAIR(el_th,   N0, N3,  B, N8,    N0, N3, N9, N8)
ZMK_UNICODE_PAIR(el_i,    N0, N3,  B, N9,    N0, N3, N9, N9)
ZMK_UNICODE_PAIR(el_is,   N1, F , N3, N0,    N1, F , N3, N8) // smooth 
ZMK_UNICODE_PAIR(el_isa,  N1, F , N3, N4,    N1, F , N3, C ) // smooth acute 
ZMK_UNICODE_PAIR(el_isg,  N1, F , N3, N2,    N1, F , N3, A ) // smooth grave 
ZMK_UNICODE_PAIR(el_isc,  N1, F , N3, N6,    N1, F , N3, E ) // smooth circumflex 
ZMK_UNICODE_PAIR(el_ir,   N1, F , N3, N1,    N1, F , N3, N9) // rough 
ZMK_UNICODE_PAIR(el_ira,  N1, F , N3, N5,    N1, F , N3, D ) // rough acute 
ZMK_UNICODE_PAIR(el_irg,  N1, F , N3, N3,    N1, F , N3, B ) // rough grave -
ZMK_UNICODE_PAIR(el_irc,  N1, F , N3, N7,    N1, F , N3, F ) // rough circumflex 
ZMK_UNICODE_PAIR(el_ia,   N1, F , N7, N7,    N1, F , D , B ) // acute 
ZMK_UNICODE_PAIR(el_ig,   N1, F , N7, N6,    N1, F , D , A ) // grave 
ZMK_UNICODE_PAIR(el_ib,   N1, F , D , N0,    N1, F , D , N8) // breve 
ZMK_UNICODE_PAIR(el_ic,   N1, F , D , N6,    N1, F , D , N6) // circumflex 
ZMK_UNICODE_PAIR(el_id,   N0, N3 , C , A ,    N0, N3 , A , A ) // diacritic
ZMK_UNICODE_PAIR(el_idg,  N1, F , D , N3,    N1, F , D , N3) // diacritic grave 
ZMK_UNICODE_PAIR(el_ida,  N1, F , D , N2,    N1, F , D , N2) // diacritic acute 
ZMK_UNICODE_PAIR(el_idc,  N1, F , D , N7,    N1, F , D , N7) // diacritic circumflex
ZMK_UNICODE_PAIR(el_il,   N1, F , D , N1,    N1, F , D , N9) // long 
ZMK_UNICODE_PAIR(el_k,    N0, N3,  B,  A,    N0, N3, N9,  A)
ZMK_UNICODE_PAIR(el_l,    N0, N3,  B,  B,    N0, N3, N9,  B)
ZMK_UNICODE_PAIR(el_m,    N0, N3,  B,  C,    N0, N3, N9,  C)
ZMK_UNICODE_PAIR(el_n,    N0, N3,  B,  D,    N0, N3, N9,  D)
ZMK_UNICODE_PAIR(el_xi,   N0, N3,  B,  E,    N0, N3, N9,  E)
ZMK_UNICODE_PAIR(el_o,    N0, N3,  B,  F,    N0, N3, N9,  F)
ZMK_UNICODE_PAIR(el_os,   N1, F , N4, N0,    N1, F , N4, N8) // smooth 
ZMK_UNICODE_PAIR(el_osa,  N1, F , N4, N4,    N1, F , N4, C ) // smooth acute 
ZMK_UNICODE_PAIR(el_osg,  N1, F , N4, N2,    N1, F , N4, A ) // smooth grave 
ZMK_UNICODE_PAIR(el_or,   N1, F , N4, N1,    N1, F , N4, N9) // rough 
ZMK_UNICODE_PAIR(el_ora,  N1, F , N4, N5,    N1, F , N4, D ) // rough acute 
ZMK_UNICODE_PAIR(el_org,  N1, F , N4, N3,    N1, F , N4, B ) // rough grave 
ZMK_UNICODE_PAIR(el_oa,   N1, F , N7, N9,    N1, F , F , N9) // acute 
ZMK_UNICODE_PAIR(el_og,   N1, F , N7, N8,    N1, F , F , N8) // grave 
ZMK_UNICODE_PAIR(el_p,    N0, N3,  C, N0,    N0, N3,  A, N0)
ZMK_UNICODE_PAIR(el_r,    N0, N3,  C, N1,    N0, N3,  A, N1)
ZMK_UNICODE_PAIR(el_s,    N0, N3,  C, N3,    N0, N3,  A, N3)
ZMK_UNICODE_PAIR(el_se,   N0, N3,  C, N2,    N0, N3,  A, N3) // final sigma
ZMK_UNICODE_PAIR(el_t,    N0, N3,  C, N4,    N0, N3,  A, N4)
ZMK_UNICODE_PAIR(el_u,    N0, N3,  C, N5,    N0, N3,  A, N5)
ZMK_UNICODE_PAIR(el_us,   N1, F , N5, N0,    N1, F , N5, N0) // smooth 
ZMK_UNICODE_PAIR(el_usa,  N1, F , N5, N4,    N1, F , N5, N4) // smooth acute 
ZMK_UNICODE_PAIR(el_usg,  N1, F , N5, N2,    N1, F , N5, N2) // smooth grave 
ZMK_UNICODE_PAIR(el_usc,  N1, F , N5, N6,    N1, F , N5, N6) // smooth circumflex 
ZMK_UNICODE_PAIR(el_ur,   N1, F , N5, N1,    N1, F , N5, N9) // rough 
ZMK_UNICODE_PAIR(el_ura,  N1, F , N5, N5,    N1, F , N5, D ) // rough acute 
ZMK_UNICODE_PAIR(el_urg,  N1, F , N5, N3,    N1, F , N5, B ) // rough grave 
ZMK_UNICODE_PAIR(el_urc,  N1, F , N5, N7,    N1, F , N5, F ) // rough circumflex 
ZMK_UNICODE_PAIR(el_ua,   N1, F , N7, B ,    N1, F , E , B ) // acute 
ZMK_UNICODE_PAIR(el_ug,   N1, F , N7, A ,    N1, F , E , A ) // grave 
ZMK_UNICODE_PAIR(el_ub,   N1, F , E , N0,    N1, F , E , N8) // breve 
ZMK_UNICODE_PAIR(el_uc,   N1, F , E , N6,    N1, F , E , N6) // circumflex 
ZMK_UNICODE_PAIR(el_ud,   N0, N3, C , B ,    N0, N3, A , B ) // diacritic
ZMK_UNICODE_PAIR(el_udg,  N1, F , E , N3,    N1, F , E , N3) // diacritic grave 
ZMK_UNICODE_PAIR(el_uda,  N1, F , E , N2,    N1, F , E , N2) // diacritic acute 
ZMK_UNICODE_PAIR(el_udc,  N1, F , E , N7,    N1, F , E , N7) // diacritic circumflex
ZMK_UNICODE_PAIR(el_ul,   N1, F , E , N1,    N1, F , E , N9) // long 
ZMK_UNICODE_PAIR(el_ph,   N0, N3,  C, N6,    N0, N3,  A, N6)  // varphi = 03C6
ZMK_UNICODE_PAIR(el_x,    N0, N3,  C, N7,    N0, N3,  A, N7)
ZMK_UNICODE_PAIR(el_ps,   N0, N3,  C, N8,    N0, N3,  A, N8)
ZMK_UNICODE_PAIR(el_w,    N0, N3,  C, N9,    N0, N3,  A, N9)
ZMK_UNICODE_PAIR(el_ws,   N1, F , N6, N0,    N1, F , N6, N8) // smooth 
ZMK_UNICODE_PAIR(el_wsa,  N1, F , N6, N4,    N1, F , N6, C ) // smooth acute 
ZMK_UNICODE_PAIR(el_wsai, N1, F , A , N4,    N1, F , A , C ) // smooth acute iota 
ZMK_UNICODE_PAIR(el_wsg,  N1, F , N6, N2,    N1, F , N6, A ) // smooth grave 
ZMK_UNICODE_PAIR(el_wsgi, N1, F , A , N2,    N1, F , A , A ) // smooth grave iota 
ZMK_UNICODE_PAIR(el_wsc,  N1, F , N6, N6,    N1, F , N6, E ) // smooth circumflex 
ZMK_UNICODE_PAIR(el_wsci, N1, F , A , N6,    N1, F , A , E ) // smooth circumflex iota 
ZMK_UNICODE_PAIR(el_wsi,  N1, F , A , N0,    N1, F , A , N8) // smooth iota 
ZMK_UNICODE_PAIR(el_wr,   N1, F , N6, N1,    N1, F , N6, N9) // rough 
ZMK_UNICODE_PAIR(el_wra,  N1, F , N6, N5,    N1, F , N6, D ) // rough acute 
ZMK_UNICODE_PAIR(el_wrai, N1, F , A , N5,    N1, F , A , D ) // rough acute iota 
ZMK_UNICODE_PAIR(el_wrg,  N1, F , N6, N3,    N1, F , N6, B ) // rough grave 
ZMK_UNICODE_PAIR(el_wrgi, N1, F , A , N3,    N1, F , A , B ) // rough grave iota 
ZMK_UNICODE_PAIR(el_wrc,  N1, F , N6, N7,    N1, F , N6, F ) // rough cirumflex 
ZMK_UNICODE_PAIR(el_wrci, N1, F , A , N7,    N1, F , A , F ) // rough cirumflex iota 
ZMK_UNICODE_PAIR(el_wri,  N1, F , A , N1,    N1, F , A , N9) // rough iota 
ZMK_UNICODE_PAIR(el_wa,   N0, N3, C , E ,    N0, N3, N8, F ) // acute 
ZMK_UNICODE_PAIR(el_wai,  N1, F , F , N4,    N1, F , F , N4) // acute iota 
ZMK_UNICODE_PAIR(el_wg,   N1, F , N7, C ,    N1, F , F , A ) // grave 
ZMK_UNICODE_PAIR(el_wgi,  N1, F , F , N2,    N1, F , F , N2) // grave iota 
ZMK_UNICODE_PAIR(el_wc,   N1, F , F , N6,    N1, F , F , N6) // circumflex 
ZMK_UNICODE_PAIR(el_wci,  N1, F , F , N7,    N1, F , F , N7) // circumflex iota 
ZMK_UNICODE_PAIR(el_wci,  N1, F , F , N3,    N1, F , F , C ) // iota 
ZMK_UNICODE_PAIR(el_ko,   N0, N3, D , F ,    N0, N3, D , E ) // koppa
ZMK_UNICODE_PAIR(el_st,   N0, N3, D , B ,    N0, N3, D , A ) // stigma
ZMK_UNICODE_PAIR(el_sp,   N0, N3, E , N1,    N0, N3, E , N0) // sampi